@model StatusModel;

@{
    ViewData["Title"] = "Status";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.Message</p>

<form asp-controller="Status" asp-action="RestartService" method="post">
    <button class="btn btn-danger" type="submit" value="Submit">Restart Bot</button>
</form>